@page
@model Proyecto_Ciclo3.App.Frontend.Pages.FormRutaModel


 
<div class="text-center" >
<form method="POST">
 

  <label for="origen" class="form-label">Origen:</label>
   <select asp-for="Ruta.origen" class="form-control">
        <option value="origen">Seleccione un aeropuerto</option>
        @foreach (var aeropuerto in Model.Aeropuertos)
    {
        <option value="@aeropuerto.id">@aeropuerto.nombre @aeropuerto.ciudad</option>
    }
    </select>

  <label for="destino" class="form-label">Destino:</label>
  <select asp-for="Ruta.destino" class="form-control">
        <option value="destino">Seleccione un aeropuerto</option>
        @foreach (var aeropuerto in Model.Aeropuertos)
    {
        <option value="@aeropuerto.id">@aeropuerto.nombre @aeropuerto.ciudad</option>
    }
    </select>

  <label for="tiempo_estimado" class="form-label">Tiempo Estimado:</label>
  <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="tiempo_estimado" required>

  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
