@page
@model Proyecto_Ciclo3.App.Frontend.Pages.DetailsAeropuertoModel
@{
    var aeropuerto = Model.Aeropuerto;
}
 
  <ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @aeropuerto.id</li>
  <li class="list-group-item"> <b>Nombre: </b> @aeropuerto.nombre</li>
  <li class="list-group-item"> <b>Ciudad: </b> @aeropuerto.ciudad</li>
  <li class="list-group-item"><b>Pais: </b> @aeropuerto.pais</li>
  <li class="list-group-item"><b>Coord_x : </b> @aeropuerto.coord_x</li>
  <li class="list-group-item"><b>Coord_Y: </b> @aeropuerto.coord_y</li>
</ul>	
 
