@page
@model Proyecto_Ciclo3.App.Frontend.Pages.EditAeropuertoModel
@{
    var aeropuerto = Model.Aeropuerto;
}

 
<div class="text-center">
<form method="POST">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" asp-for="@aeropuerto.id">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre" asp-for="@aeropuerto.nombre">
  <label for="ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="ciudad" asp-for="@aeropuerto.ciudad">
  <label for="pais" class="form-label">Pais:</label>
  <input type="text" class="form-control" id="pais" name="pais" placeholder="pais" asp-for="@aeropuerto.pais">
  <label for="coord_x" class="form-label">coord_x</label>
  <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="coord_x" asp-for="@aeropuerto.coord_x">
  <label for="coord_y" class="form-label">coord_Y</label>
  <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="coord_y" asp-for="@aeropuerto.coord_y"> 
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
