@page
@model Proyecto_Ciclo3.App.Frontend.Pages.ListAeropuertoModel
@{
}
 
<h1>Listado de Aeropuertos</h1>
<table class="table">
    @foreach (var Aeropuerto in Model.Aeropuertos)
    {
        <tr>
            <td>@Aeropuerto.id</td>
            <td>@Aeropuerto.nombre</td>
            <td>@Aeropuerto.ciudad</td>
            <td>@Aeropuerto.pais</td>
            <td>@Aeropuerto.coord_x</td>
            <td>@Aeropuerto.coord_y</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-aeropuertoId="@Aeropuerto.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-aeropuertoId="@Aeropuerto.id">Editar</a>
              <form method="POST">
            <input type="number" class="d-none" id="id" name="id" placeholder="id" asp-for="@Aeropuerto.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>
