@page
@model Proyecto_Ciclo3.App.Frontend.Pages.ListAvionModel
@{
}
 
<h1>Listado de Aviones</h1>
<table class="table">
    @foreach (var Avion in Model.Aviones)
    {
        <tr>
            <td>@Avion.id</td>
            <td>@Avion.marca</td>
            <td>@Avion.modelo</td>
            <td>@Avion.numero_asientos</td>
            <td>@Avion.numero_baños</td>
            <td>@Avion.max_peso</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-AvionId="@Avion.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-AvionId="@Avion.id">Editar</a>
              <form method="POST">
            <input type="number" class="d-none" id="id" name="id" placeholder="id" asp-for="@Avion.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>
