@page
@model Proyecto_Ciclo3.App.Frontend.Pages.ListAvionModel
@{
}
 
<h1>Listado de Aviones</h1>
<table class="table table-bordered table-hover dataTable">
  <tr>
        <th scope="col">Id</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Numero Asientos</th>
        <th scope="col">Numero Baños</th>
        <th scope="col">Peso Maximo</th>
      </tr>
    @foreach (var Avion in Model.Aviones)
    {
      
        <tr>
            <td>@Avion.id</td>
            <td>@Avion.marca</td>
            <td>@Avion.modelo</td>
            <td>@Avion.numero_asientos</td>
            <td>@Avion.numero_baños</td>
            <td>@Avion.max_peso</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-AvionId="@Avion.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-AvionId="@Avion.id">Editar</a>
              <form method="POST">
            <input type="number" class="d-none" id="id" name="id" placeholder="id" asp-for="@Avion.id">
              <button type="submit"class="btn btn-danger" href="">Borrar</button>
            </form>
              </td>
        </tr>
    }
</table>
